body {
    background-image: url('https://www.northlakecomo.net/images/content/375/Milano-1588065935-xl.jpg');
    background-size: cover;
}
/* .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */
h1{
    background-image: url('https://img.ilgcdn.com/sites/default/files/styles/xl/public/foto/2022/05/02/1651509563-milano-duomo-1.jpg?_=1651509563');
    /* background-color: cover; */
}
input[type='select'] {
    border: 5px solid black;
}
table{
    background-color: rgb(255, 255, 255);
}
thead{
    background-color: lightsteelblue;
}